<%- include('./partials/header.ejs') %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Foto</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product => { %>
      
      <tr>
        <th scope="row"><%= product.id %></th>
        <td><%= product.title %></td>
        <td>$<%= product.price %></td>
        <td><img style="width: 100px" src=<%= product.thumbnail %>  alt=""></td>
        <td><a href="/api/update-productos/<%= product.id %>"><button class="btn btn-outline-primary" >Editar</button></a>
          <a href="/api/productos/<%= product.id %>" class="btn btn-primary" data-method="delete">Eliminar</a>
          </td>
          </tr>
          
    <%   }); %>
  </tbody>
</table>
<a href="/"><button class="btn btn-primary">Crear producto</button></a>