<%- include('./partials/header.ejs') %>

<!-- FORMULARIO DE CARGA -->

<% if (admin == true) {%>

<h1>Formulario de carga de productos</h1>

<form action="/api/productos" method="post">

    <label for="">Nombre del producto</label>
    <input type="text" name="title" id="title">
    <br>
    <label for="">Precio del producto</label>
    <input type="number" name="price" id="price"> 
    <br>
    <label for="">Foto del producto</label>
    <input type="text" name="thumbnail" id="thumbnail">
    <br>
    <label for="">Descripción del producto</label>
    <input type="text" name="descripcion" id="descripcion">
    <br>
    <label for="">Stock del producto</label>
    <input type="number" name="stock" id="stock">
    <br>
    <a href="/apiproductos"><button type="submit" class="btn btn-outline-primary">Guardar</button></a>
    
</form>

<%   }; %>

<!-- TABLA DE PRODUCTOS -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock</th>
      <th scope="col">Descripción</th>
      <th scope="col">Foto</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product => { %>
      <% if (admin == true) {%>
        <form action="/api/productos/<%= product.id %>" method="delete" id="formPutProducts"></form>
        <%   } else{;%>
          <form action="/api/cart/<%= user %>/productos/<%= product.id %>" method="post" id="formPutProducts">
      <%   };%>

        <tr>
          <th id="formid" scope="row"><%= product.id %></th>
          <td id="formtitle"><%= product.title %></td>
          <td id="formprice">$<%= product.price %></td>
          <td id="formstock"><%= product.stock %></td> 
          <td>
            <% for(let i = 0; i < product.descripcion.length; i++) { %>
              <%= product.descripcion[i] %><%= i !== product.descripcion.length - 1 ? ' - ' : '' %>
            <% } %>
          </td>
          <td id="formimg"><img style="width: 100px" src=<%= product.thumbnail %>  alt=""></td>
          <% if (admin == true) {%>
            <td><a href="/api/productos/<%= product.id %>"><button class="btn btn-outline-primary">Editar</button></a>
              <a href="/api/productos/eliminar/<%= product.id %>" type="submit" class="btn btn-primary">Eliminar</a>
            </td>
            <%   } else{%>
              <td>
                <button class="btn btn-outline-primary" type="submit">Agregar</button>
              </td>
                <%   };%>
              </tr>
        </form>
          
    <%   }); %>
  </tbody>
</table>